<?xml version="1.0" encoding="UTF-8"?>
<!-- aquí se va a configurar archivos para log4j y JPA -->

<Configuration status="INFO">
    <!-- este es el tag de appenders -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- Se muestran ciertos elementos como: día, fecha, la hora y un mensaje que se desee incluir en cada una de las líneas de log4j -->
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>
    
    <!-- este es el tag de appenders -->
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
