/Crud_personas/build/
/SistemaVentas/nbproject/private/
/SistemaVentas/build/
/SistemaVentas/dist/
SistemaVentas/src/Img/
/VentasWeb/nbproject/private/
/VentasWeb/build/
/JuegoTriquiTracas/nbproject/private/
/JuegoTriquiTracas/build/
/Ejercicio_Cronometro/nbproject/private/
/Ejercicio_Cronometro/build/
/Banco_BC/nbproject/private/
/Ventas/nbproject/private/
/Ventas/build/
/DatosPersonales_JDBC/target/
/ProcedimientosAlmacenados_Java/target/
/AplicacionChatMySQL/target/
/Proyecto_Inicio_Sesion/nbproject/private/
/Proyecto_Inicio_Sesion/src/imagenes
/Proyecto_Inicio_Sesion/build/
/Calculadora/nbproject/private/
